<div class="ui-form ui-border-t">
<div class="ui-form-item ui-border-b">
    <label>留言类型</label>
    <div class="ui-select">
      <select class="type-select">
        <option selected value="0">请选择留言类型</option>

        <% for(var i=0,ilen=messageTypeSelectList.length;i<ilen;i++){ %>
        <option value="<%= messageTypeSelectList[i].tid %>"><%= messageTypeSelectList[i].tname %></option>
        <% } %>
        
      </select>
    </div>
  </div>
  <div class="ui-form-item ui-border-b">
    <label>校 &nbsp; &nbsp; &nbsp; 区</label>
    <div class="ui-select">
      <select class="school-select">
        <option selected value="0">请选择校区</option>
        
        <% for(var i=0,ilen=schoolAndServiceSelectList.length;i<ilen;i++){ %>
        <option value="<%= schoolAndServiceSelectList[i].cid %>"><%= schoolAndServiceSelectList[i].campus %></option>
        <% } %>
        
      </select>
    </div>
  </div>
  <div class="ui-form-item ui-border-b">
    <label>服务单位</label>
    <div class="ui-select">
      <select class="service-select">
        <option selected value="0">请选择服务单位</option>
      </select>
    </div>
  </div>
  <div class="ui-form-item ui-border-b">
      <label>职责范围</label>
      <input type="text" class="duty" disabled readonly="true" value="" placeholder="职责范围描述">
  </div>
  <div class="ui-form-item ui-border-b ui-textarea">
    <textarea class="suggessInfo" maxlength='200' placeholder="请输入您的宝贵意见"></textarea>
    <i>200</i>
  </div>
  <div class="ui-btn-wrap">
    <button class="ui-btn-lg  ui-btn-primary sub-btn">
        确定
    </button>
  </div>
</div>